* {
    font-family: "Oswald", sans-serif;
background-color: #151515;}
html
{
    background-color: #151515;
}
h1 {
    text-align: center;
    background-color: #151515;
    color: #EEEEEE;
}
footer {
    background-color: #151515;
    color: #EEEEEE;
    text-align: center;
    padding: 20px;
    margin-top: 20px;

}