.nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C5B6F;
    position:sticky;
    top: 0;
}
* {
    font-family: "Oswald", sans-serif;}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    padding-top: 20px;
}
.nav ul li {
    margin-right: 20px;
}
.container #main-item {

}
.giris {
    position: static;
    top: 0;
    right: 0;
}

a {
    text-decoration: none; !important;
    color: #DFD0B8; !important;
    animation: 1s ease-out 0s 1 slideInFromTop;
    font-size: 20px;

}
html
{
    background-color: #153448;
}
h1  {
    color: #DFD0B8;
    text-align: center;
    animation: 1s ease-out 0s 1 slideInFromTop;
}
.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C5B6F;
}
@media (max-width: 600px) {
    .nav {
        flex-direction: column;
    }
    .nav ul {
        padding: 0;
        margin: 0;
    }
    .nav ul li {
        margin: 10px 0;
    }
    .giris {
        position: static;
    }
    .div1 {
        flex-direction: column;
    }
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}