.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313131;
    border-radius: 20px;
}
.top {
    padding: 20px;
    background-color: #151515;
    color: #EEEEEE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a:visited {
    color: #EEEEEE !important;
}

a {
    color: #EEEEEE;
    text-decoration: none;
    animation: 1s ease-out 0s 1 slideInFromTop;
    font-size: 22px;
    transition: color 0.3s ease;
}
a:hover {
    color: #A91D3A !important;
    text-decoration: underline !important;
}
ul {
    list-style: none; /* This removes the default bullet points */
}
footer {
    background-color: #151515;
    color: #EEEEEE;
    text-align: center;
    padding: 20px;
    margin-top: 20px;

}

ul li::before {
    content: "\f058";
    font-weight: 900;
    display: inline-block;
    margin-right: 10px;
    color: #A91D3A;
}
* {
    font-family: "Oswald", sans-serif;
    background-color: #151515;
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    padding-top: 20px;
}
.giris {
    position: static;
    top: 0;
    right: 0;
}
.nav ul li {
    margin-right: 20px;
    padding: 10px;
}
#emirfoto {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    filter: brightness(90%);
}
p {
    color: #EEEEEE;
    animation: 1s ease-out 0s 1 slideInFromTop;
    font-size: 20px;
    font-family: "Oswald", sans-serif;

}
h1  {
    color: #EEEEEE;
    text-align: center;
    animation: 1s ease-out 0s 1 slideInFromTop;
}
main {
    background-color: #151515 !important;
}
h2 {
    color: #EEEEEE;
    animation: 1s ease-out 0s 1 slideInFromTop;
    font-family: "Poetsen One", sans-serif;
    padding-top: 20px;

}
.spor {
    margin-top: 200px;

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #C73659;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}
.emir {
    align-content: center;
    text-align: center;
    margin: auto;
    height: auto;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #C73659;
}
#sporlabel {
    color: #EEEEEE;
    font-family: "Poetsen One", sans-serif;
    animation: 1s ease-out 0s 1 slideInFromTop;
}
#dizilabel {
    color: #EEEEEE;
    font-family: "Poetsen One", sans-serif;
    animation: 1s ease-out 0s 1 slideInFromTop;
}

.parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.diziresim a {
    display: inline-block;
    width:50%;
}
.sporresim a {
    display: inline-block;
    width:50%;
}
.sporresim a img {
    width: 100%;
    height: 100%;

}
.diziresim a img, .sporresim a img {
    transition: transform 0.3s ease-in-out;
}

.diziresim a img:hover, .sporresim a img:hover {
    transform: scale(1.1);
}

.diziresim a img {
    width: 100%;
    height: 100%;
}

body {
    background-color: #151515;
}
main, footer {
    margin: 0;
    padding: 0;
}
.dizi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    border: 2px solid #C73659;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 20px;
}
.sporresim {
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    filter: brightness(90%);
    display: flex;
    flex-direction: row;
}
.diziresim {
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    filter: brightness(90%);
    display: flex;
    flex-direction: row;
}
.diziresim img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    filter: brightness(90%);
}
.sporresim img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    filter: brightness(90%);

}
.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151515;
}
@media (max-width: 600px) {
    .nav {
        flex-direction: column;
    }
    .nav ul {
        padding: 0;
        margin: 0;
    }
    .nav ul li {
        margin: 10px 0;
    }
    .giris {
        position: static;
    }
    .div1 {
        flex-direction: column;
    }
    .emir, .spor, .dizi {
        width: 100%;
    }
    .parent-container {
        display: grid;
        grid-template-rows: 1fr;
    }
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}