.nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C5B6F;
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    padding-top: 20px;
}
.nav ul li {
    margin-right: 20px;

}
a {
    text-decoration: none; !important;
    color: #DFD0B8; !important;
    animation: 1s ease-out 0s 1 slideInFromTop;
    font-size: 20px;

}
* {
    font-family: "Oswald", sans-serif;
}

html
{
    background-color:#153448 ;
}
.top {
    padding: 20px;
    background-color: #3C5B6F;
    color: #DFD0B8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C5B6F;
}
h1  {
    color: #DFD0B8;
    text-align: center;
    animation: 1s ease-out 0s 1 slideInFromTop;
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}