#film {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#film a {
    animation: fadeIn 2s;

}
#film img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    animation: fadeIn 2s !important;
}
#film img:hover {
    transform: scale(1.2);
    transition: 1s;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313131;
    border-radius: 20px;
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    padding-top: 20px;
}
.nav ul li {
    margin-right: 20px;
    padding: 10px;
}
a {
    color: #EEEEEE;
    text-decoration: none;
    animation: 1s ease-out 0s 1 slideInFromTop;
    font-size: 22px;
    transition: color 0.3s ease;
}

a:visited {
    color: #EEEEEE;
}

a:hover {
    color: #A91D3A !important;
    text-decoration: underline !important;
}
* {
    font-family: "Oswald", sans-serif;
}
.top {
    padding: 20px;
    background-color: #151515;
    color: #EEEEEE;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
html {
    background-color: #151515;
}
.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151515;
}
body {
    background-color: #151515;
}

.button {
    background-color: #151515;
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fetch {
    background-color: #C73659;
    border: none;
    color: #EEEEEE;
    text-decoration: none;
    align-items: center;
    padding: 20px 40px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#fetch:hover {
    background-color: #EEEEEE;
    color: #C73659;
}
h1 {
    color: #EEEEEE;
    text-align: center;
    animation: 1s ease-out 0s 1 slideInFromTop;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@media (max-width: 768px) {
    #film img {
        width: 100%;
        height: auto;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav ul li {
        margin-bottom: 20px;
    }
}