.nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C5B6F;
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    padding-top: 20px;
}
.nav ul li {
    margin-right: 20px;
    padding: 10px;
}
a {
    color: #DFD0B8;
    text-decoration: none;
    animation: 1s ease-out 0s 1 slideInFromTop;
    font-size: 22px;
    transition: color 0.3s ease;
}
a:visited {
    color: #DFD0B8;
}

a:hover {
    color: #948979 !important;
    text-decoration: underline !important;
}
* {
    font-family: "Oswald", sans-serif;
}
.top {
    padding: 20px;
    background-color: #3C5B6F;
    color: #DFD0B8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
html
{
    background-color:#153448 ;
}
.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C5B6F;
}
body {
    background-color: #153448;
}
#film {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#film p {
    font-size: 1.2em;
    color: #DFD0B8;
    text-align: center;
}

#film img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#movie-details {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#movie-details h2 {
    font-size: 2em;
    color: #DFD0B8;
}
#movie-details p #film img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#movie-details p {
    font-size: 1.2em;
    color: #DFD0B8;
    text-align: center;
}
h1  {
    color: #DFD0B8;
    text-align: center;
    animation: 1s ease-out 0s 1 slideInFromTop;
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}