
.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    padding-top: 20px;
}

.top {
    padding: 20px;
    background-color: #151515;
    color: #EEEEEE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav ul li {
    margin-right: 20px;
    padding: 10px;
}
a {
    color: #EEEEEE;
    text-decoration: none;
    animation: 1s ease-out 0s 1 slideInFromTop;
    font-size: 22px;
    transition: color 0.3s ease;
}
a:visited {
    color: #EEEEEE;
}
a:hover {
    color: #A91D3A !important;
    text-decoration: underline !important;
}
.nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313131;
    border-radius: 20px;
}
.login {
    background-color: #151515;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
#baslik {
    color: #EEEEEE;
    order: 1;
    animation: 1s ease-out 0s 1 slideInFromTop;
}
#email  {
    margin-bottom: 20px;
    animation: 1s ease-out 0s 1 slideInFromTop;
}
#error {
    color: whitesmoke;
    order: 4;
}
.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
}
#butonlar
{
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    animation: 1s ease-out 0s 1 slideInFromTop;
    text-align: center;
    border: none;
}

#gonder {
    margin-right: 40px;
    background-color: #EEEEEE;
    border-radius: 15px;
    transition: color 0.3s ease;
}
#temizle {
    background-color: #EEEEEE;
    border-radius: 15px;
    transition: color 0.3s ease;
}
#gonder:hover {
    background-color: #A91D3A;
    transform: scale(1.05);
}
#temizle:hover {
    background-color: #A91D3A;
    transform: scale(1.05);

}

* {
    font-family: "Oswald", sans-serif;
}
#password {
    order: 3;
    animation: 1s ease-out 0s 1 slideInFromTop;

}

.label1 {
    color: #EEEEEE;
    animation: 1s ease-out 0s 1 slideInFromTop;
}
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.hamburger div {
    width: 2rem;
    height: 0.25rem;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@media (max-width: 1200px) {
    .nav ul {
        flex-direction: column;
        padding-top: 10px;
    }
    .nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .login {
        height: auto;
        padding: 20px;
    }
    #butonlar {
        flex-direction: column;
    }
    #gonder {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media (min-width: 769px) {
    .nav ul {
        transform: translateX(0);
    }
}
@media (max-width: 768px) {
    .nav ul {
        flex-direction: column;
        padding-top: 5px;
    }
    .nav ul li {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .login {
        padding: 10px;
    }
    #butonlar {
        flex-direction: column;
    }
    #gonder {
        margin-bottom: 10px;
    }
    .hamburger {
        display: flex;
    }
}
html, body {
    min-height: 100vh;
    background-color: #151515;
}

