@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313131;
    border-radius: 20px;
}
.top {
    padding: 20px;
    background-color: #151515;
    color: #EEEEEE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    padding-top: 20px;
}
.nav ul li {
    margin-right: 20px;
    padding: 10px;
}
a {
    color: #EEEEEE;
    text-decoration: none;
    animation: 1s ease-out 0s 1 slideInFromTop;
    font-size: 22px;
    transition: color 0.3s ease;
}
a:visited {
    color: #EEEEEE;
}

a:hover {
    color: #A91D3A !important;
    text-decoration: underline !important;
}
* {
    font-family: "Oswald", sans-serif;
}
p {
    color: #EEEEEE;
}
h2 {
    color: #A91D3A;
}

html
{
    background-color:#151515 ;
}
.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.col img {
    width: 250px;
    height: 250px;
    border-radius: 50%;

}
body {
    background-color: #151515;
}
ul {
    list-style: none; /* This removes the default bullet points */
}
footer {
    background-color: #151515;
    color: #EEEEEE;
    text-align: center;
    padding: 20px;
    margin-top: 20px;

}
ul li::before {
    content: "\f058";
    font-weight: 900;
    display: inline-block;
    margin-right: 10px;
    color: #A91D3A;
}
h5 {
    color: #EEEEEE;
    font-weight: bold;
    font-size: 20px;
}
h1  {
    color: #EEEEEE;
    text-align: center;
    animation: 1s ease-out 0s 1 slideInFromTop;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
    background-color: #313131;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #151515;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}