@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
body {
    margin: 0;
    padding: 0;
}

.nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313131;
    border-radius: 20px;
}
.top {
    padding: 20px;
    background-color: #151515;
    color: #EEEEEE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position:sticky;
    top: 0;
    z-index: 10000000;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    padding-top: 20px;
}
.nav ul li {
    margin-right: 20px;
    padding: 10px;
}
* {
    font-family: "Oswald", sans-serif;
}
a {
    color: #EEEEEE;
    text-decoration: none;
    animation: 1s ease-out 0s 1 slideInFromTop;
    font-size: 22px;
    transition: color 0.3s ease;
}
a:hover {
  color:#A91D3A;
}
html
{
    background-color:#151515 ;
}
h3  {
    font-family: "Poetsen One", sans-serif;
    color: #EEEEEE;
}
.bilgiler1 {
    background-color: #151515;
    border: 2px solid #EEEEEE;
    margin-top: 600px;
    float: left;
    border-radius: 25px;

}

#karasuparagraf {
    color: #EEEEEE;
    font-size:30px;
}
#sapancaparagraf {
    color: #EEEEEE;
    font-size:30px;
}
#serdivanparagraf {
    color: #EEEEEE;
    font-size:30px;
}
#serdivan {
    text-align: center;
    font-size:40px;
}
#sapanca {
    text-align: center;
    font-size:40px;
}
#karasu {
    text-align: center;
    font-size: 40px;
}
#sehir {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

#sehirparagraf {
    color: #EEEEEE;
    font-size: 30px;
}
.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151515;
}
h1  {
    color: #EEEEEE;
    text-align: center;
    animation: 1s ease-out 0s 1 slideInFromTop;
}
.carousel {
    background-color:#151515;
}

.carousel-inner {

    border-radius: 25px;
    width: 70%;
    margin: auto;

}

.carousel-inner img {
    border-radius: 25px;
    width: 100%;
    height:auto;
}
.carousel-item a img {
    transition: transform 0.3s ease-in-out;
}

.carousel-item a img:hover {
    transform: scale(1.1);
}
@media (max-width: 1200px) {
    .nav ul {
        flex-direction: column;
        padding-top: 10px;
    }
    .nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .carousel-inner {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .nav ul {
        flex-direction: column;
        padding-top: 5px;
    }
    .nav ul li {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .carousel-inner {
        width: 100%;
    }
}