@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
body {
    margin: 0;
    padding: 0;
}

.nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C5B6F;
}
.top {
    padding: 20px;
    background-color: #3C5B6F;
    color: #DFD0B8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position:sticky;
    top: 0;
    z-index: 10000000;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    padding-top: 20px;
}
.nav ul li {
    margin-right: 20px;

}
* {
    font-family: "Oswald", sans-serif;
}
a {
    text-decoration: none;
    color: #DFD0B8;
    animation: 1s ease-out 0s 1 slideInFromTop;
    font-size: 20px;
    overflow: hidden;
}
a:hover {
  color:#948979;
}
html
{
    background-color:#153448 ;
}
h3  {
    font-family: "Poetsen One", sans-serif;
    color: #DFD0B8;
}
.bilgiler1 {
    background-color: #153448;
    border: 2px solid #DFD0B8;
    margin-top: 200px;
    float: left;
}
bilgiler2 {
    background-color: #153448;
    border: 2px solid #DFD0B8;
    margin-top: 200px;
    float: left;
}
#karasuparagraf {
    color: #DFD0B8;
    font-size:30px;
}
#karasu {
    width: 70%;
    height:70%;
}
#sehirparagraf {
    color: #DFD0B8;
    font-size: 30px;
}
.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C5B6F;
}
h1  {
    color: #DFD0B8;
    text-align: center;
    animation: 1s ease-out 0s 1 slideInFromTop;
}
.carousel {
    background-color:#153448;
}

.carousel-inner {

    border-radius: 25px;
    width: 70%;
    margin: auto;

}

.carousel-inner img {
    border-radius: 25px;
    width: 100%;
    height:auto;
}
.carousel-item a img {
    transition: transform 0.3s ease-in-out;
}

.carousel-item a img:hover {
    transform: scale(1.1);
}
@media (max-width: 1200px) {
    .nav ul {
        flex-direction: column;
        padding-top: 10px;
    }
    .nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .carousel-inner {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .nav ul {
        flex-direction: column;
        padding-top: 5px;
    }
    .nav ul li {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .carousel-inner {
        width: 100%;
    }
}