@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
}
* {
    font-family: "Oswald", sans-serif;
    box-sizing: border-box;
}
.nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    top: 0;
    width: 100%;
    border-radius: 20px;
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    padding-top: 20px;
}
.nav ul li {
    margin-right: 20px;
    padding: 10px;
}
a {
    color: green;
    text-decoration: none;
    animation: 1s ease-out 0s 1 slideInFromTop;
    font-size: 22px;
    transition: color 0.3s ease;
}
a:visited {
    color: green;
}

a:hover {
    color: palegreen !important;
    text-decoration: underline !important;
}
.hamburger {
    display: none;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav ul {
        display: none;
    }
}

div2    {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0;
    padding: 0;

}
.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position:sticky;
    top: 0;

}

#dTarih {
    display: flex;
    flex-direction: column;
    background-color: black;
    color:white;
    box-sizing: border-box;
    margin-top: 1000px;
    margin-left: 150px;

    animation: 1s ease-out 0s 1 slideInFromLeft;
    font-size: 20px;
    border: 2px solid green;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#dTaraftar {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    box-sizing: border-box;
    margin-top: 600px;
    margin-left: 150px;

    font-size: 20px;
    clear: left;
    border: 2px solid green;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.div2 h2 {
    margin-bottom: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: green;
    position:sticky;
    top: 0;
    z-index: 1;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    padding-top: 20px;
}

.menu ul li {
    margin-right: 20px;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    background-image: url("source/sakaryaspor_logo.png");
    background-position: center 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#kadro {
    float: right;
    clear: both;
}

#dBasari {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    margin-top: 600px;
    margin-left: 150px;
    font-size: 20px;
    clear: left;
    border: 2px solid green;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-sizing: border-box;
}
#dBasari img {
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: green;
}
#dTaraftar, #dAmblem, #dBasari, #dTarih, #dStad {
    width: 80%;
    height: auto;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
.collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}
#dAmblem #dTaraftar #dBasari #dTarih #dStad {
    width: 100% !important;
}

#dAmblem {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    justify-content: space-between;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    margin-top: 600px;
    margin-left: 150px;

    clear: left;
    font-size: 20px;
    border: 2px solid green;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-sizing: border-box;
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sticky {
    position:sticky;
    top: 0;
    z-index:100000;
}
#dStad {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    margin-top: 600px;
    margin-left: 150px;
    font-size: 20px;
    clear: left;
    border: 2px solid green;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-sizing: border-box;
}
h1 {
    color: green;
    text-align: center;
    animation: 1s ease-out 0s 1 slideInFromTop;
}
html {
    scroll-behavior: smooth;
}